.navbar {
  border-radius: 0px;
}
.bmd-dropdown>.dropdown-menu{
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.bmd-dropdown.user>.dropdown-menu{
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.dropdown-menu.user {
  right: auto;
  left: 0;
}
.col-centered{
  text-align: center;
}